<center>
<h1 style="font-family: 'Times New Roman', Times, serif; font-size: 60px;">DAA</h1>
<h2 style="font-family: 'Times New Roman', Times, serif; font-size: 40px;">Data Combination</h2>
</center>

<font face="Times New Roman">

<h3 style="font-family: 'Times New Roman'">Imports</h3>

In [1]:
# Import necessary libraries
import pandas as pd              # Import pandas for data manipulation and analysis

<h3 style="font-family: 'Times New Roman'">Load All Datasets</h3>

In [2]:
meteo21 = pd.read_csv('Ficheiros/Ficheiros_Iniciais/meteo_202109-202112.csv')

In [3]:
meteo22 = pd.read_csv('Ficheiros/Ficheiros_Iniciais/meteo_202201-202212.csv')

In [4]:
meteoteste = pd.read_csv('Ficheiros/Ficheiros_Iniciais/meteo_202301-202304.csv')

In [5]:
energy21 = pd.read_csv('Ficheiros/Ficheiros_Iniciais/energia_202109-202112.csv', na_filter = False)

In [6]:
energy22 = pd.read_csv('Ficheiros/Ficheiros_Iniciais/energia_202201_202212.csv', na_filter = False)

In [7]:
energyteste = pd.read_csv('Ficheiros/Ficheiros_Iniciais/energia_202301-202304.csv', na_filter = False)

In [8]:
braga = pd.read_csv("Ficheiros/Ficheiros_Finais/Braga.csv")

<h3 style="font-family: 'Times New Roman'">Exploratory Data Analysis</h3>

In [9]:
# Get the column names as a list
column_names_meteo21 = meteo21.columns.to_list()

# Print the column names one by one with a number
print('Columns:')
for i, column in enumerate(column_names_meteo21, 1):
    print(f"{i} -> '{column}'")

Columns:
1 -> 'dt'
2 -> 'dt_iso'
3 -> 'city_name'
4 -> 'temp'
5 -> 'feels_like'
6 -> 'temp_min'
7 -> 'temp_max'
8 -> 'pressure'
9 -> 'sea_level'
10 -> 'grnd_level'
11 -> 'humidity'
12 -> 'wind_speed'
13 -> 'rain_1h'
14 -> 'clouds_all'
15 -> 'weather_description'

In [10]:
# Get the column names as a list
column_names_meteo22 = meteo22.columns.to_list()

# Print the column names one by one with a number
print('Columns:')
for i, column in enumerate(column_names_meteo22, 1):
    print(f"{i} -> '{column}'")

Columns:
1 -> 'dt'
2 -> 'dt_iso'
3 -> 'city_name'
4 -> 'temp'
5 -> 'feels_like'
6 -> 'temp_min'
7 -> 'temp_max'
8 -> 'pressure'
9 -> 'sea_level'
10 -> 'grnd_level'
11 -> 'humidity'
12 -> 'wind_speed'
13 -> 'rain_1h'
14 -> 'clouds_all'
15 -> 'weather_description'

In [11]:
# Get the column names as a list
column_names_meteoteste = meteoteste.columns.to_list()

# Print the column names one by one with a number
print('Columns:')
for i, column in enumerate(column_names_meteoteste, 1):
    print(f"{i} -> '{column}'")

Columns:
1 -> 'dt'
2 -> 'dt_iso'
3 -> 'city_name'
4 -> 'temp'
5 -> 'feels_like'
6 -> 'temp_min'
7 -> 'temp_max'
8 -> 'pressure'
9 -> 'sea_level'
10 -> 'grnd_level'
11 -> 'humidity'
12 -> 'wind_speed'
13 -> 'rain_1h'
14 -> 'clouds_all'
15 -> 'weather_description'

In [12]:
# Get the column names as a list
column_names_braga = braga.columns.to_list()

# Print the column names one by one with a number
print('Columns:')
for i, column in enumerate(column_names_braga, 1):
    print(f"{i} -> '{column}'")

Columns:
1 -> 'date'
2 -> 'temp'
3 -> 'feels_like'
4 -> 'temp_min'
5 -> 'temp_max'
6 -> 'pressure'
7 -> 'humidity'
8 -> 'wind_speed'
9 -> 'rain_1h'
10 -> 'clouds_all'
11 -> 'weather_description'

In [13]:
# Get the column names as a list
column_names_energy21 = energy21.columns.to_list()

# Print the column names one by one with a number
print('Columns:')
for i, column in enumerate(column_names_energy21, 1):
    print(f"{i} -> '{column}'")

Columns:
1 -> 'Data'
2 -> 'Hora'
3 -> 'Normal (kWh)'
4 -> 'Horario Economico (kWh)'
5 -> 'Autoconsumo (kWh)'
6 -> 'Injecao na rede (kWh)'

In [14]:
# Get the column names as a list
column_names_energy22 = energy22.columns.to_list()

# Print the column names one by one with a number
print('Columns:')
for i, column in enumerate(column_names_energy22, 1):
    print(f"{i} -> '{column}'")

Columns:
1 -> 'Data'
2 -> 'Hora'
3 -> 'Normal (kWh)'
4 -> 'Horario Economico (kWh)'
5 -> 'Autoconsumo (kWh)'
6 -> 'Injecao na rede (kWh)'

In [15]:
# Get the column names as a list
column_names_energyteste = energyteste.columns.to_list()

# Print the column names one by one with a number
print('Columns:')
for i, column in enumerate(column_names_energyteste, 1):
    print(f"{i} -> '{column}'")

Columns:
1 -> 'Data'
2 -> 'Hora'
3 -> 'Normal (kWh)'
4 -> 'Horario Economico (kWh)'
5 -> 'Autoconsumo (kWh)'

In [16]:
meteo21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2928 entries, 0 to 2927
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dt                   2928 non-null   int64
 1   dt_iso               2928 non-null   object
 2   city_name            2928 non-null   object
 3   temp                 2928 non-null   float64
 4   feels_like           2928 non-null   float64
 5   temp_min             2928 non-null   float64
 6   temp_max             2928 non-null   float64
 7   pressure             2928 non-null   int64
 8   sea_level            0 non-null      float64
 9   grnd_level           0 non-null      float64
 10  humidity             2928 non-null   int64
 11  wind_speed           2928 non-null   float64
 12  rain_1h              537 non-null    float64
 13  clouds_all           2928 non-null   int64
 14  weather_description  2928 non-null   object
dtypes: float64(8), int64(4), object(3)
memory usage: 343.3+ KB

In [17]:
meteo22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dt                   8760 non-null   int64
 1   dt_iso               8760 non-null   object
 2   city_name            8760 non-null   object
 3   temp                 8760 non-null   float64
 4   feels_like           8760 non-null   float64
 5   temp_min             8760 non-null   float64
 6   temp_max             8760 non-null   float64
 7   pressure             8760 non-null   int64
 8   sea_level            0 non-null      float64
 9   grnd_level           0 non-null      float64
 10  humidity             8760 non-null   int64
 11  wind_speed           8760 non-null   float64
 12  rain_1h              1898 non-null   float64
 13  clouds_all           8760 non-null   int64
 14  weather_description  8760 non-null   object
dtypes: float64(8), int64(4), object(3)
memory usage: 1.0+ MB

In [18]:
meteoteste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1752 entries, 0 to 1751
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dt                   1752 non-null   int64
 1   dt_iso               1752 non-null   object
 2   city_name            1752 non-null   object
 3   temp                 1752 non-null   float64
 4   feels_like           1752 non-null   float64
 5   temp_min             1752 non-null   float64
 6   temp_max             1752 non-null   float64
 7   pressure             1752 non-null   int64
 8   sea_level            0 non-null      float64
 9   grnd_level           0 non-null      float64
 10  humidity             1752 non-null   int64
 11  wind_speed           1752 non-null   float64
 12  rain_1h              206 non-null    float64
 13  clouds_all           1752 non-null   int64
 14  weather_description  1752 non-null   object
dtypes: float64(8), int64(4), object(3)
memory usage: 205.4+ KB

In [19]:
braga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 504 non-null    object
 1   temp                 504 non-null    float64
 2   feels_like           504 non-null    float64
 3   temp_min             504 non-null    float64
 4   temp_max             504 non-null    float64
 5   pressure             504 non-null    int64
 6   humidity             504 non-null    int64
 7   wind_speed           504 non-null    float64
 8   rain_1h              100 non-null    float64
 9   clouds_all           504 non-null    int64
 10  weather_description  504 non-null    object
dtypes: float64(6), int64(3), object(2)
memory usage: 43.4+ KB

In [20]:
energy21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2256 entries, 0 to 2255
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Data                     2256 non-null   object
 1   Hora                     2256 non-null   int64
 2   Normal (kWh)             2256 non-null   float64
 3   Horario Economico (kWh)  2256 non-null   float64
 4   Autoconsumo (kWh)        2256 non-null   float64
 5   Injecao na rede (kWh)    2256 non-null   object
dtypes: float64(3), int64(1), object(2)
memory usage: 105.9+ KB

In [21]:
energy22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Data                     8760 non-null   object
 1   Hora                     8760 non-null   int64
 2   Normal (kWh)             8760 non-null   float64
 3   Horario Economico (kWh)  8760 non-null   float64
 4   Autoconsumo (kWh)        8760 non-null   float64
 5   Injecao na rede (kWh)    8760 non-null   object
dtypes: float64(3), int64(1), object(2)
memory usage: 410.8+ KB

In [22]:
energyteste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2256 entries, 0 to 2255
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Data                     2256 non-null   object
 1   Hora                     2256 non-null   int64
 2   Normal (kWh)             2256 non-null   float64
 3   Horario Economico (kWh)  2256 non-null   float64
 4   Autoconsumo (kWh)        2256 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 88.3+ KB

<h3 style="font-family: 'Times New Roman'">Data Transformation</h3>

In [23]:
meteo21.rename(columns={
    'dt': 'timestamp',
    'dt_iso': 'date',
    'city_name': 'city',
}, inplace=True)

In [24]:
meteo22.rename(columns={
    'dt': 'timestamp',
    'dt_iso': 'date',
    'city_name': 'city',
}, inplace=True)

In [25]:
meteoteste.rename(columns={
    'dt': 'timestamp',
    'dt_iso': 'date',
    'city_name': 'city',
}, inplace=True)

In [26]:
meteo21['date'] = meteo21['date'].str.replace(' \+\d+ UTC', '', regex=True)
meteo21['date'] = meteo21['date'].str.replace(':[0-9][0-9]$', '', regex=True)

In [27]:
meteo22['date'] = meteo22['date'].str.replace(' \+\d+ UTC', '', regex=True)
meteo22['date'] = meteo22['date'].str.replace(':[0-9][0-9]$', '', regex=True)

In [28]:
meteoteste['date'] = meteoteste['date'].str.replace(' \+\d+ UTC', '', regex=True)
meteoteste['date'] = meteoteste['date'].str.replace(':[0-9][0-9]$', '', regex=True)

In [29]:
energy21.rename(columns={
    'Data': 'date',
    'Hora': 'hour',
    'Normal (kWh)': 'normal_consume',
    'Horario Economico (kWh)': 'consumption_in_period',
    'Autoconsumo (kWh)': 'autoconsume',
    'Injecao na rede (kWh)': 'injection',
}, inplace=True)

In [30]:
energy22.rename(columns={
    'Data': 'date',
    'Hora': 'hour',
    'Normal (kWh)': 'normal_consume',
    'Horario Economico (kWh)': 'consumption_in_period',
    'Autoconsumo (kWh)': 'autoconsume',
    'Injecao na rede (kWh)': 'injection',
}, inplace=True)

In [31]:
energyteste.rename(columns={
    'Data': 'date',
    'Hora': 'hour',
    'Normal (kWh)': 'normal_consume',
    'Horario Economico (kWh)': 'consumption_in_period',
    'Autoconsumo (kWh)': 'autoconsume',
    'Injecao na rede (kWh)': 'injection',
}, inplace=True)

In [32]:
energy21['hour'] = energy21['hour'].astype(str).str.zfill(2)
energy21['date'] = energy21['date'] + ' ' + energy21['hour'] + ':00'
energy21 = energy21.drop(columns=['hour'])

In [33]:
energy22['hour'] = energy22['hour'].astype(str).str.zfill(2)
energy22['date'] = energy22['date'] + ' ' + energy22['hour'] + ':00'
energy22 = energy22.drop(columns=['hour'])

In [34]:
energyteste['hour'] = energyteste['hour'].astype(str).str.zfill(2)
energyteste['date'] = energyteste['date'] + ' ' + energyteste['hour'] + ':00'
energyteste = energyteste.drop(columns=['hour'])

In [35]:
meteo21 = meteo21.drop(columns=['city',
                                   'timestamp',
                                   'sea_level',
                                   'grnd_level'])

In [36]:
meteo22 = meteo22.drop(columns=['city',
                                      'timestamp',
                                      'sea_level',
                                      'grnd_level'])

In [37]:
meteoteste = meteoteste.drop(columns=['city',
                                      'timestamp',
                                      'sea_level',
                                      'grnd_level'])

<h3 style="font-family: 'Times New Roman'">Exploratory Data Analysis</h3>

In [38]:
meteo21.columns

Index(['date', 'temp', 'feels_like', 'temp_min', 'temp_max', 'pressure',
       'humidity', 'wind_speed', 'rain_1h', 'clouds_all',
       'weather_description'],
      dtype='object')

In [39]:
meteo22.columns

Index(['date', 'temp', 'feels_like', 'temp_min', 'temp_max', 'pressure',
       'humidity', 'wind_speed', 'rain_1h', 'clouds_all',
       'weather_description'],
      dtype='object')

In [40]:
meteoteste.columns

Index(['date', 'temp', 'feels_like', 'temp_min', 'temp_max', 'pressure',
       'humidity', 'wind_speed', 'rain_1h', 'clouds_all',
       'weather_description'],
      dtype='object')

In [41]:
braga.columns

Index(['date', 'temp', 'feels_like', 'temp_min', 'temp_max', 'pressure',
       'humidity', 'wind_speed', 'rain_1h', 'clouds_all',
       'weather_description'],
      dtype='object')

In [42]:
energy21.columns

Index(['date', 'normal_consume', 'consumption_in_period', 'autoconsume',
       'injection'],
      dtype='object')

In [43]:
energy22.columns

Index(['date', 'normal_consume', 'consumption_in_period', 'autoconsume',
       'injection'],
      dtype='object')

In [44]:
energyteste.columns

Index(['date', 'normal_consume', 'consumption_in_period', 'autoconsume'], dtype='object')

<h3 style="font-family: 'Times New Roman'">Save all DataSets</h3>

In [45]:
resulting_df_21 = energy21.merge(meteo21, on='date', how='left')

In [46]:
resulting_df_22 = energy22.merge(meteo22, on='date', how='inner')

In [47]:
df_new = pd.read_csv("Ficheiros/Ficheiros_Iniciais/DewPoint.csv")

In [48]:
df_new_teste = pd.read_csv("Ficheiros/Ficheiros_Iniciais/DewPoint_teste.csv")

In [49]:
final = pd.concat([resulting_df_21, resulting_df_22], ignore_index=True)

In [50]:
resulting_dew_point = final.merge(df_new, on='date', how='inner')
resulting_dew_point.to_csv("Ficheiros/Ficheiros_Finais/Final.csv", index = False)

In [51]:
meteoteste = pd.concat([meteoteste, braga])

In [52]:
resulting_df_23 = energyteste.merge(meteoteste, on='date', how='inner')

In [53]:
resulting_dew_point_teste = resulting_df_23.merge(df_new_teste, on='date', how='inner')
resulting_dew_point_teste.to_csv("Ficheiros/Ficheiros_Finais/Final_Teste.csv", index = False)