<center>
  <h1 style="font-family: 'Times New Roman', Times, serif; font-size: 60px;">DAA</h1>
  <h2 style="font-family: 'Times New Roman', Times, serif; font-size: 40px;">DataSet Grupo - Smoking and Drinking</h2>
</center>

<font face="Times New Roman">

In this analysis, we delve into the Smoking and Drinking dataset, sourced from the National Health Insurance Service in Korea.

</font>
<font face="Times New Roman">

### Primary Objectives

<font face="Times New Roman">

The primary objectives of this dataset are as follows:

1. **Analysis of Body Signals**: This dataset provides a comprehensive array of physiological measurements, allowing for an in-depth analysis of various body signals and health parameters.

2. **Classification of Smoker or Drinker**: The dataset aims to facilitate the classification of individuals based on their smoking and drinking habits, which can have significant implications for public health and research.

</font>

### Key Attributes in the Dataset

<font face="Times New Roman">

The dataset comprises a variety of attributes that describe the participants' demographic information, health metrics, and lifestyle factors. Here are some of the essential attributes:

- **Sex**: Categorized as male or female.

- **Age**: Rounded up to the nearest 5 years, indicating participants' age.
- **Height**: Rounded up to the nearest 5 cm, representing the participants' height in centimeters.
- **Weight**: Measured in kilograms, indicating the participants' body weight.

- **Systolic Blood Pressure (SBP)**: Measured in millimeters of mercury (mmHg), representing the highest systolic blood pressure.
- **Diastolic Blood Pressure (DBP)**: Measured in mmHg, indicating the diastolic blood pressure.
- **Fasting Blood Glucose (BLDS)**: Measured in milligrams per deciliter (mg/dL), providing information about fasting blood glucose levels.
- **Waist**: Represents the circumference of the individual's waist.

- **Sight Left**: Represents the visual acuity of the individual's left eye.
- **Sight Right**: Represents the visual acuity of the individual's right eye.
- **Hearing Left**: Measures the hearing in the left ear, with 1 representing normal and 2 representing abnormal.
- **Hearing Right**: Measures the hearing in the right ear using the same classification system as hear_left.

- **Total Cholesterol**: Measures the total concentration of cholesterol in mg/dL.
- **HDL Cholesterol**: Measures the concentration of cholesterol in the HDL (high-density lipoprotein) region in mg/dL.
- **LDL Cholesterol**: Measures the concentration of cholesterol in the LDL (low-density lipoprotein) region in mg/dL.
- **Triglyceride**: Measures the total concentration of triglycerides in mg/dL.
- **Hemoglobin**: Measures the concentration of hemoglobin in g/dL.
- **Urine Protein**: Measures the amount of protein in the individual's urine.

- **Serum Creatine**: Measures the concentration of creatinine in the individual's serum in mg/dL.
- **SGOT_AST**: Measures SGOT (Glutamate-oxaloacetate transaminase) - AST (Aspartate transaminase) value in IU/L.
- **SGOT_ALT**: Measures SGOT (Glutamate-oxaloacetate transaminase) - ALT (Alanine transaminase) value in IU/L.
- **Gamma-GTP**: Measures the gamma-GTP value in IU/L, quantifying liver function in the bile duct.

- **Smoking Status**: Represents the individual's smoking state. 1 corresponds to never smoking, 2 corresponds to having used to smoke but quit, and 3 corresponds to still smoking.
- **Drinking Status**: Flag indicating whether the individual is a drinker or not.

<center>
<h2 style="font-family: 'Times New Roman', Times, serif; font-size: 40px;">Data Analysis</h2>
</center>

<h3 style="font-family: 'Times New Roman'">Import Libraries</h3>

In [1]:
# Import necessary libraries
import pandas as pd              # Import pandas for data manipulation and analysis

<h3 style="font-family: 'Times New Roman'">Load Dataset SmokingAndDrinking.csv</h3>

In [2]:
# Read data from a CSV file into a DataFrame
# df = pd.read_csv('Files/Smoking_Drinking_Dataset.csv')

<h3 style="font-family: 'Times New Roman'">Sample</h3>

In [3]:
# Set the sample size to 25000
# n = 25000

In [4]:
# Use the sample method to randomly select n samples from the DataFrame
# df = df.sample(n)

# Save the sampled DataFrame to a CSV file named 'New_Smoking_Drinking_Dataset.csv'
# df.to_csv('Files/New_Smoking_Drinking_Dataset.csv', index=False)

In [5]:
# Read a CSV file named 'New_Smoking_Drinking_Dataset.csv' and create a DataFrame named 'df'.
df = pd.read_csv('Files/New_Smoking_Drinking_Dataset.csv')

<h3 style="font-family: 'Times New Roman'">Exploratory Data Analysis</h3>

In [6]:
# Get the column names as a list
column_names = df.columns.to_list()

# Print the column names one by one with a number
print('Columns:')
for i, column in enumerate(column_names, 1):
    print(f"{i} -> '{column}'")

Columns:
1 -> 'sex'
2 -> 'age'
3 -> 'height'
4 -> 'weight'
5 -> 'waistline'
6 -> 'sight_left'
7 -> 'sight_right'
8 -> 'hear_left'
9 -> 'hear_right'
10 -> 'SBP'
11 -> 'DBP'
12 -> 'BLDS'
13 -> 'tot_chole'
14 -> 'HDL_chole'
15 -> 'LDL_chole'
16 -> 'triglyceride'
17 -> 'hemoglobin'
18 -> 'urine_protein'
19 -> 'serum_creatinine'
20 -> 'SGOT_AST'
21 -> 'SGOT_ALT'
22 -> 'gamma_GTP'
23 -> 'SMK_stat_type_cd'
24 -> 'DRK_YN'

In [7]:
# Display information about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sex               25000 non-null  object
 1   age               25000 non-null  int64
 2   height            25000 non-null  int64
 3   weight            25000 non-null  int64
 4   waistline         25000 non-null  float64
 5   sight_left        25000 non-null  float64
 6   sight_right       25000 non-null  float64
 7   hear_left         25000 non-null  float64
 8   hear_right        25000 non-null  float64
 9   SBP               25000 non-null  float64
 10  DBP               25000 non-null  float64
 11  BLDS              25000 non-null  float64
 12  tot_chole         25000 non-null  float64
 13  HDL_chole         25000 non-null  float64
 14  LDL_chole         25000 non-null  float64
 15  triglyceride      25000 non-null  float64
 16  hemoglobin        25000 non-null  float64
 17  urine_protein     25000 non-null  float64
 18  serum_creatinine  25000 non-null  float64
 19  SGOT_AST          25000 non-null  float64
 20  SGOT_ALT          25000 non-null  float64
 21  gamma_GTP         25000 non-null  float64
 22  SMK_stat_type_cd  25000 non-null  float64
 23  DRK_YN            25000 non-null  object
dtypes: float64(19), int64(3), object(2)
memory usage: 4.6+ MB

In [8]:
# Display the first 10 rows of the DataFrame
df.head(10)

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,Female,20,160,50,66.0,0.7,1.0,1.0,1.0,119.0,...,101.0,95.0,13.0,1.0,0.6,14.0,11.0,18.0,2.0,N
1,Male,30,175,95,97.0,1.5,1.5,1.0,1.0,134.0,...,125.0,144.0,17.6,1.0,0.9,28.0,66.0,48.0,3.0,N
2,Female,30,170,55,66.0,0.8,0.8,1.0,1.0,110.0,...,67.0,67.0,12.6,3.0,0.6,18.0,8.0,17.0,1.0,Y
3,Female,60,150,50,76.0,0.7,0.7,1.0,1.0,119.0,...,82.0,151.0,13.3,1.0,1.0,15.0,10.0,17.0,3.0,Y
4,Male,45,185,95,100.0,1.0,1.5,1.0,1.0,110.0,...,132.0,307.0,14.8,1.0,1.4,25.0,43.0,40.0,2.0,N
5,Male,55,165,80,95.0,1.2,1.0,1.0,1.0,135.0,...,122.0,101.0,16.0,1.0,1.1,40.0,54.0,33.0,3.0,Y
6,Male,30,180,110,96.8,1.5,1.5,1.0,1.0,130.0,...,113.0,146.0,8.1,4.0,3.1,27.0,35.0,36.0,1.0,N
7,Female,35,160,45,64.0,1.2,1.2,1.0,1.0,105.0,...,114.0,29.0,13.0,1.0,0.7,41.0,55.0,12.0,1.0,N
8,Male,35,175,85,91.0,2.0,0.9,1.0,1.0,133.0,...,131.0,130.0,12.9,1.0,0.9,20.0,21.0,67.0,1.0,Y
9,Male,65,165,65,86.0,1.0,1.2,1.0,1.0,100.0,...,64.0,91.0,14.9,1.0,1.0,99.0,105.0,36.0,2.0,N

In [9]:
# Display the last 10 rows of the DataFrame
df.tail(10)

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
24990,Female,50,150,55,80.0,1.0,0.9,1.0,1.0,128.0,...,178.0,527.0,15.8,1.0,0.7,15.0,16.0,29.0,3.0,Y
24991,Male,50,155,60,73.0,1.0,0.7,1.0,1.0,125.0,...,73.0,52.0,14.5,1.0,0.8,32.0,29.0,20.0,2.0,N
24992,Male,25,165,75,86.0,1.2,1.5,1.0,1.0,130.0,...,135.0,88.0,14.0,1.0,1.0,15.0,14.0,18.0,1.0,Y
24993,Female,55,145,50,78.0,1.0,0.8,1.0,1.0,104.0,...,113.0,93.0,12.7,1.0,0.6,21.0,16.0,16.0,1.0,N
24994,Female,25,160,45,70.0,1.0,0.7,1.0,1.0,111.0,...,133.0,65.0,13.3,1.0,0.9,14.0,11.0,14.0,1.0,Y
24995,Female,20,160,55,72.0,0.2,0.2,1.0,1.0,116.0,...,85.0,54.0,12.7,1.0,0.7,14.0,12.0,17.0,1.0,N
24996,Female,55,155,55,72.0,1.2,0.8,1.0,1.0,128.0,...,108.0,129.0,12.8,1.0,0.8,23.0,21.0,17.0,1.0,N
24997,Male,55,180,75,92.8,1.0,0.9,1.0,1.0,123.0,...,100.0,153.0,16.1,1.0,1.1,16.0,13.0,20.0,3.0,N
24998,Male,50,175,70,90.0,0.8,1.0,1.0,1.0,140.0,...,44.0,169.0,14.3,1.0,0.8,25.0,27.0,27.0,1.0,N
24999,Female,50,155,55,74.0,0.8,0.9,1.0,1.0,97.0,...,59.0,72.0,13.8,1.0,0.6,25.0,13.0,20.0,1.0,Y

In [10]:
# Rename specific columns in the DataFrame for clarity
df.rename(columns={
    'SBP': 'systolic_blood_pressure', 
    'DBP': 'diastolic_blood_pressure', 
    'tot_chole': 'total_cholesterol', 
    'HDL_chole': 'HDL_cholesterol', 
    'LDL_chole': 'LDL_cholesterol', 
    'gamma_GTP': 'gamma-glutamyl_transpeptidase', 
    'DRK_YN': 'drinker_or_not' , 
    'SMK_stat_type_cd': 'smoking_state'
}, inplace=True)

# Define the desired order of columns for the DataFrame
columns = ['sex', 'age', 'height', 'weight', 'waistline', 'sight_left', 'sight_right', 'hear_left', 'hear_right', 'systolic_blood_pressure','diastolic_blood_pressure', 'BLDS', 'total_cholesterol', 'HDL_cholesterol', 'LDL_cholesterol', 'triglyceride', 'hemoglobin', 'urine_protein', 'serum_creatinine', 'SGOT_AST', 'SGOT_ALT', 'gamma-glutamyl_transpeptidase', 'smoking_state', 'drinker_or_not']

In [11]:
# Generate and print descriptive statistics for each column in the specified 'columns' list
for column in columns:
    print(df[column].describe())
    print('\n')

count     25000
unique        2
top        Male
freq      13236
Name: sex, dtype: object


count    25000.000000
mean        47.549600
std         14.198225
min         20.000000
25%         35.000000
50%         45.000000
75%         60.000000
max         85.000000
Name: age, dtype: float64


count    25000.000000
mean       162.266400
std          9.264387
min        130.000000
25%        155.000000
50%        160.000000
75%        170.000000
max        190.000000
Name: height, dtype: float64


count    25000.00000
mean        63.32880
std         12.52467
min         25.00000
25%         55.00000
50%         60.00000
75%         70.00000
max        130.00000
Name: weight, dtype: float64


count    25000.000000
mean        81.221824
std         12.652243
min         51.000000
25%         74.000000
50%         81.000000
75%         88.000000
max        999.000000
Name: waistline, dtype: float64


count    25000.000000
mean         0.978932
std          0.586572
min          0.100000
25%          0.700000
50%          1.000000
75%          1.200000
max          9.900000
Name: sight_left, dtype: float64


count    25000.000000
mean         0.980064
std          0.615849
min          0.100000
25%          0.700000
50%          1.000000
75%          1.200000
max          9.900000
Name: sight_right, dtype: float64


count    25000.000000
mean         1.032800
std          0.178116
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          2.000000
Name: hear_left, dtype: float64


count    25000.00000
mean         1.03168
std          0.17515
min          1.00000
25%          1.00000
50%          1.00000
75%          1.00000
max          2.00000
Name: hear_right, dtype: float64


count    25000.000000
mean       122.436360
std         14.562023
min         78.000000
25%        112.000000
50%        120.000000
75%        131.000000
max        255.000000
Name: systolic_blood_pressure, dtype: float64


count    25000.000000
mean        76.070640
std          9.927388
min         40.000000
25%         70.000000
50%         76.000000
75%         82.000000
max        150.000000
Name: diastolic_blood_pressure, dtype: float64


count    25000.000000
mean       100.225480
std         24.016139
min         51.000000
25%         88.000000
50%         96.000000
75%        105.000000
max        588.000000
Name: BLDS, dtype: float64


count    25000.000000
mean       195.534840
std         39.344686
min         75.000000
25%        169.000000
50%        193.000000
75%        219.000000
max       1605.000000
Name: total_cholesterol, dtype: float64


count    25000.000000
mean        57.101080
std         15.230495
min          9.000000
25%         46.000000
50%         55.000000
75%         66.000000
max        525.000000
Name: HDL_cholesterol, dtype: float64


count    25000.000000
mean       112.853920
std         35.968469
min          5.000000
25%         89.000000
50%        111.000000
75%        135.000000
max       1580.000000
Name: LDL_cholesterol, dtype: float64


count    25000.000000
mean       131.995240
std        108.642546
min          1.000000
25%         73.000000
50%        106.000000
75%        159.000000
max       6430.000000
Name: triglyceride, dtype: float64


count    25000.000000
mean        14.223984
std          1.585782
min          2.800000
25%         13.200000
50%         14.200000
75%         15.400000
max         19.700000
Name: hemoglobin, dtype: float64


count    25000.000000
mean         1.086520
std          0.417518
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          6.000000
Name: urine_protein, dtype: float64


count    25000.000000
mean         0.859788
std          0.299035
min          0.100000
25%          0.700000
50%          0.800000
75%          1.000000
max         18.800000
Name: serum_creatinine, dtype: float64


count    25000.000000
mean        26.012040
std         17.391901
min          4.000000
25%         19.000000
50%         23.000000
75%         28.000000
max        944.000000
Name: SGOT_AST, dtype: float64


count    25000.000000
mean        25.756720
std         23.863919
min          2.000000
25%         15.000000
50%         20.000000
75%         29.000000
max       1200.000000
Name: SGOT_ALT, dtype: float64


count    25000.000000
mean        37.216720
std         49.248354
min          2.000000
25%         16.000000
50%         23.000000
75%         40.000000
max        999.000000
Name: gamma-glutamyl_transpeptidase, dtype: float64


count    25000.000000
mean         1.604520
std          0.817155
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          3.000000
Name: smoking_state, dtype: float64


count     25000
unique        2
top           N
freq      12576
Name: drinker_or_not, dtype: object

In [12]:
# Print unique values for each column in the 'columns' list
for column in columns:
    print(f'{column}: {df[column].unique()}')

sex: ['Female' 'Male']
age: [20 30 60 45 55 35 65 70 40 25 75 50 80 85]
height: [160 175 170 150 185 165 180 145 155 140 135 190 130]
weight: [ 50  95  55  80 110  45  85  65  60  70  75  40  90 100 105 115  35  30
 120 125  25 130]
waistline: [ 66.   97.   76.  100.   95.   96.8  64.   91.   86.   69.   75.   87.
  68.   94.8  74.2  93.   94.   80.5  90.   84.7  84.   79.   82.   77.
  96.   62.   67.   81.   83.   75.8  73.   89.   74.1  94.6  85.   86.2
  88.  109.   68.2  81.3  86.5  72.   61.6  71.   84.5  92.   73.7  98.
  80.   76.5  78.   74.5  82.5  67.9  70.   83.3  87.5  93.5  72.7  83.2
  74.   77.2  76.2 106.   78.4  65.  104.   68.3  67.5  71.2  90.3  99.
  83.5 102.  109.5  80.2  84.6  63.   69.3  79.5  81.5  78.2  77.1  69.5
  60.   79.1 108.   95.7  71.1  89.3  78.3  64.1  89.4  74.4  56.   80.8
  78.7  85.2 100.4  84.2 103.   92.2  74.6  96.6  85.3  81.1  84.1  83.1
  79.8  88.9  86.4 111.   69.6  93.8  89.9  63.5  99.4  78.1  96.5  98.5
  91.5  95.6  87.4  88.3  79.4  70.5  90.2  77.5  69.8  83.7  58.  110.
  72.1  87.1  61.  114.   89.8  72.5 101.   89.1  88.5  91.2  68.8  65.1
  92.7  68.5  66.5  77.7  83.4  64.8  78.5  69.2  68.6  79.9  93.1  77.3
  98.7  67.2  88.4  91.9  63.7 113.   82.4  84.4  96.1  80.1  75.2  62.4
  75.6  58.9  99.5  82.3  89.2  85.5  66.4  77.4  86.8  73.2  90.5  81.7
 105.   92.3  95.1  78.6  85.4  80.3  74.7  91.3  97.3  81.4  92.6  89.5
  62.3  92.1  77.8  91.8  79.6  82.7  81.8  82.8  81.2  90.4  75.5  82.1
  70.2  92.9  72.8  71.5  75.3  73.6  69.9  86.1  93.6  59.   78.8  77.9
  88.1 113.4  95.3  82.6  90.6  87.3  88.2  72.2  99.2  94.5  83.8  61.5
  66.2  97.5  85.6  57.7  88.8  87.6  73.5  74.3  76.8  66.7  65.9  99.1
 118.   95.5 101.3  78.9  81.9 103.7  76.4  80.4  94.1  96.2  88.6  86.3
  79.2  82.2  85.8  67.3  87.7  64.7  73.8  74.9  63.1  96.4 112.   80.7
  57.  107.  103.1  91.6  90.8  75.1  65.5  90.9  72.4  68.9  70.9  70.3
  76.1  70.1  92.5  68.1  77.6  87.2  79.3  82.9  73.1 102.7  81.6  94.9
  84.3  65.4  89.7  80.6  85.1  99.8  54.2  62.7  65.7  86.7  94.2  87.9
 106.4 100.5 105.5  84.8  67.8  83.6  58.5  62.8  95.2  72.6  70.6  98.9
  93.3  88.7  54.5  72.9  69.7  70.8  91.1  65.2  87.8  65.3  67.4  67.1
  83.9 100.1  57.3  74.8  79.7 103.9  76.7  62.5 102.4  73.4 112.7 115.7
  66.8  95.4  57.5  90.1  70.4 119.   68.4  67.7  75.4  63.6  64.6  63.4
  66.6  93.2  92.8  76.6  71.4  62.2  71.9  94.4  92.4  93.4  64.5  90.7
  71.8  91.4 104.4 101.8  71.3  75.9  61.9  60.5 101.7  85.9  66.9  61.8
 104.5  80.9 101.2 109.9  85.7  96.3 117.  102.5  64.2  67.6  59.4 103.2
 121.  110.5  76.3  73.3  69.1 116.   93.7 102.6 101.1  63.2  71.6 115.
 120.7  99.6 107.3  91.7  72.3 999.   89.6  61.1  98.2  59.5  57.4 107.4
  68.7  98.1  66.1  97.9 110.9  61.2  76.9 105.1  62.6  97.6 100.2 108.7
  86.6  60.8  54.8 103.8  75.7  53.   97.2  98.3  59.8  64.4 105.3  84.9
 107.5 101.5  97.1  65.6  63.3  55.  132.  108.9  65.8  60.4  62.1  98.8
  96.7 104.1  56.5  61.3 104.8 103.5  94.7 103.3 102.3 102.1 111.5  69.4
 101.4  59.3 108.2  60.9 100.3 107.8 103.4  73.9  61.4  61.7  97.4 100.6
 119.2  71.7  56.7  94.3  86.9  98.6  64.9  52.   64.3  51.   70.7  58.7
  60.2  95.9 100.8  58.2  95.8 104.3 120.   54.   99.3  98.4 106.5 107.2
 111.2  63.8  93.9  97.7 128.   56.3 113.7]
sight_left: [0.7 1.5 0.8 1.  1.2 2.  0.6 0.3 0.5 0.9 0.4 0.2 9.9 1.3 0.1 1.6 1.1]
sight_right: [1.  1.5 0.8 0.7 1.2 0.9 0.3 0.4 2.  0.6 0.5 0.1 9.9 0.2 1.1 1.6 1.3 1.7
 1.4 1.8]
hear_left: [1. 2.]
hear_right: [1. 2.]
systolic_blood_pressure: [119. 134. 110. 135. 130. 105. 133. 100. 123. 126.  98. 107.  90. 132.
 118. 128. 114. 138. 120. 115. 144. 170. 136. 139. 157. 125.  93. 122.
 104. 124. 140. 121. 108. 127. 116. 112. 113.  97.  92. 117. 131. 137.
  96. 111. 146. 141. 106. 101. 129. 145.  99. 109. 142.  86. 150. 149.
 147.  95. 103. 151. 156. 143.  94. 148.  88. 153. 158. 152. 160. 159.
  85. 102. 162. 169.  91. 171. 155. 154. 168. 180. 173.  78. 164. 200.
 179. 165. 163.  84.  89.  82. 167. 189. 181. 255. 166. 176. 178. 174.
 161. 177. 192. 175.  81. 195.  83. 185.  87. 196. 191. 220. 190. 198.
 218. 210. 203. 183. 172. 187. 182.]
diastolic_blood_pressure: [ 67.  89.  70.  75.  79.  80.  72.  60.  68.  88.  82.  74.  64.  73.
  76.  78.  71.  87.  99. 110.  90.  86.  85.  84. 101.  91.  56.  83.
  59.  41.  81.  63.  58.  57.  77.  94.  69.  61.  53.  65.  62.  66.
  97.  93. 100.  98.  96. 104.  52.  55.  95.  51.  92. 114. 130.  45.
 118. 105. 102. 120. 106. 108. 107.  50.  54. 103. 150. 115.  49. 109.
 111. 112. 116. 117.  46.  44.  48. 122. 125.  43. 123. 113. 140. 136.
  40. 119. 133.]
BLDS: [ 90. 111.  95.  89.  96. 113.  87.  83.  99.  98. 120. 115. 144.  88.
  74.  97. 118.  91.  86. 104. 112.  85. 106. 103.  92. 110. 101. 109.
 128. 153. 114.  82. 100.  93.  94. 127.  79.  76.  72.  80. 122. 175.
 102. 105. 135. 194. 169. 142.  78.  81. 107.  73.  75. 154.  84. 116.
 126. 124. 108. 132.  69. 157. 138. 137. 141. 130. 306. 136. 182. 283.
 197. 131. 143. 133. 121.  77. 123.  66. 164. 129. 117. 160.  60.  61.
 196. 168. 149.  71.  63. 119. 181. 125. 191. 150. 159.  70. 161. 176.
 174. 243. 270. 179. 212. 134. 453. 203. 140. 147. 165. 139. 207. 146.
 209. 151. 200. 148. 190. 332. 188. 155. 230. 171. 298. 255. 205. 156.
 220.  67. 221. 295. 198. 152. 242. 215. 170. 173. 252. 223. 211. 224.
 227. 201. 239. 266. 272. 167. 166.  65. 225. 162.  56. 308. 218. 238.
 278. 172. 262.  68. 158. 187. 236. 202. 247. 145. 178. 183. 232. 177.
 208. 363. 286. 180. 222. 302.  52. 163. 405. 358. 210. 195. 204. 269.
 257. 265. 233.  62. 274. 192. 231.  64. 219. 241. 297. 193. 251. 588.
 305. 199. 349. 206. 289. 337. 253. 248. 214. 186. 378. 352. 389. 273.
 329.  59. 429. 185. 321. 307. 237. 235. 326. 444. 259. 292. 396. 293.
 279. 299. 294. 267. 216. 263. 258. 249. 184. 213. 328. 314. 355. 245.
 226. 282. 217. 462. 189.  54. 250. 313. 325. 324. 357. 284. 254. 319.
 339. 228. 261.  51. 290. 380. 229. 240.  55. 291. 344. 362.  57. 330.
 434.]
total_cholesterol: [ 173.  181.  156.  232.  180.  165.  179.  192.  153.  206.  195.  231.
  147.  139.  159.  238.  198.  200.  214.  258.  223.  120.  218.  224.
  142.  144.  229.  182.  174.  131.  207.  168.  185.  172.  210.  221.
  202.  149.  150.  135.  222.  211.  264.  127.  177.  124.  166.  286.
  188.  176.  241.  121.  246.  236.  169.  193.  157.  245.  167.  196.
  296.  163.  228.  197.  130.  217.  215.  227.  138.  201.  162.  152.
  161.  209.  134.  170.  154.  194.  186.  175.  216.  187.  133.  137.
  204.  184.  199.  252.  266.  239.  271.  171.  189.  178.  158.  220.
  145.  257.  212.  190.  250.  234.  208.  243.  203.  205.  240.  146.
  136.  237.  294.  183.  129.  132.  155.  278.  160.  235.  104.  248.
  301.  293.  281.  219.  164.  140.  111.  242.  233.  191.  143.  226.
  269.  141.  213.  225.  277.  113.  249.  251.  230.  244.  263.  309.
  148.  253.  261.  260.  125.  256.  151.  274.  247.  302.  268.  109.
  254.  307.  119.   99.  255.  273.  116.  280.  288.   95.  262.  267.
  117.  291.   88.  270.  103.  311.  276.  275.  118.  265.  308.  122.
  126.  322.  290.  283.  326.   82.  295.  287.  282.  279.  324.  101.
  108.  100.  285.  319.  114.  292.  115.  289.  313.  107.  128.  306.
  298.  354.  272.  259.  350.  123.  321.  334.  335.  323.  106.  304.
  331.   92.  359.  105.  297.  366.  360.  110.  318.   97.   75.  365.
   96.  621.  330.  112.   87.  303.  312.  316.  300.   94.  332.  333.
  284.   86.  305.  314.  299.  320.   93. 1605.  395.  344.   83.  338.
  342.   91.   98.  356.  432.  325.  310.  352.  315.  355.  327.  317.
  329.  397.  357.  478.  346.  369.   89.  102.  345. 1030.  470.   84.
  364.  337.  349.  336.  363.]
HDL_cholesterol: [ 53.  27.  76.  68.  39.  37.  23.  59.  54.  70.  66.  55.  99.  57.
  63.  36.  43.  69.  67.  41.  62.  60.  85.  50.  48.  44.  42.  49.
  78.  52.  64.  40.  51.  72.  34.  35.  56.  83.  86.  47.  38.  89.
  29.  45.  93.  91.  75.  58.  79.  46.  88.  81.  92.  61.  80.  77.
  31.  74.  32.  94.  65.  87.  71.  33. 101.  73.  84. 116.  95.  82.
  30. 111. 100.  90.  28.  97. 109.  18. 104. 128. 114. 106. 105. 110.
  20. 102.  24.  96.  98. 103. 107. 117. 108.  22. 187.  25. 118.  26.
 134. 126.  17. 113. 119. 124. 120. 137. 127. 136.  21. 112.  19.   9.
 154. 151. 125. 115. 131. 123. 132.  15. 525. 135. 129. 122. 133. 147.]
LDL_cholesterol: [ 101.  125.   67.   82.  132.  122.  113.  114.  131.   64.  108.   68.
   62.  165.  129.  121.  140.  158.  138.   50.   96.  147.   65.   73.
  102.  116.   78.  135.  100.   93.  127.  112.   44.   81.   75.  106.
  128.  141.  154.   84.   55.  109.  105.   66.  780.  197.  107.  148.
   85.   39.  149.  160.  104.   89.  123.   83.   92.  161.   90.  152.
  153.   94.   32.   88.   43.  117.  111.  119.  137.   59.   76.  151.
   69.  139.   99.  126.   98.  120.  103.   80.  167.  171.   45.   74.
  150.  124.  145.   52.  142.   77.  144.  134.  136.  110.   46.  169.
  186.   71.  211.  196.  172.   79.   91.   87.   51.  143.  118.  162.
  178.   95.   38.   61.  189.   58.  168.  174.  198.  190.  181.  130.
   86.   72.   34.  156.  207.  175.  159.   54.   57.  146.  115.  133.
  200.  183.  177.   63.  163.  173.   97.  164.   23.  233.   22.   70.
   60.   56.  157.  209.  155.   49.   41.   53.  219.   47.    7.  179.
  216.  180.  187.  166.  235.   40.  194.  213.  204.  176.  182.   10.
  218.  202.  184.  205.   36.  215.   25.  210.   48.   37.  193.  170.
  246.  230.  185.  225.  192.  188.  241.  253.  195.  208.  221.  206.
   19.  191.  236.  214.   42.   29.   28.   21.  258.   35.   31.  220.
   12.  295.   30.  238.   27.  223.  203.  199.  217.  240.   33.    5.
   16.  222.  201.  228.  226.  254.  212.  229.   24.  249.   26. 1580.
  272.   11.  231.  273.   20.  227.    9.  239.   17.  243.  303.  252.
  351.  279.  290.  250.  224.  293.  288.  374.  242.   13.  237.  234.
   15.  247.  251.  262.]
triglyceride: [9.500e+01 1.440e+02 6.700e+01 1.510e+02 3.070e+02 1.010e+02 1.460e+02
 2.900e+01 1.300e+02 9.100e+01 1.590e+02 1.310e+02 9.300e+01 6.400e+01
 9.700e+01 1.450e+02 1.850e+02 5.100e+01 1.900e+02 1.620e+02 2.180e+02
 8.300e+01 4.800e+01 1.140e+02 8.600e+01 4.400e+01 1.700e+02 1.070e+02
 1.210e+02 1.550e+02 4.900e+01 4.500e+01 1.520e+02 3.300e+01 4.300e+01
 1.380e+02 2.990e+02 1.360e+02 2.140e+02 7.500e+01 5.400e+01 1.800e+02
 4.200e+01 1.600e+02 1.400e+02 1.560e+02 4.700e+01 5.480e+02 5.270e+02
 2.190e+02 1.020e+02 5.000e+01 2.760e+02 1.650e+02 1.870e+02 1.170e+02
 1.180e+02 1.260e+02 5.500e+01 1.150e+02 1.120e+02 8.700e+01 1.660e+02
 1.500e+02 3.200e+01 1.610e+03 1.610e+02 5.300e+01 1.110e+02 5.900e+01
 4.320e+02 3.670e+02 1.680e+02 1.330e+02 2.080e+02 6.600e+01 8.400e+01
 5.700e+01 1.280e+02 1.250e+02 2.270e+02 7.100e+01 2.010e+02 7.800e+01
 1.130e+02 1.880e+02 1.410e+02 1.060e+02 6.000e+01 8.500e+01 9.900e+01
 4.100e+01 2.170e+02 1.720e+02 6.900e+01 9.600e+01 7.400e+01 1.080e+02
 1.290e+02 1.770e+02 9.200e+01 1.390e+02 3.700e+01 2.030e+02 1.000e+02
 6.300e+01 1.190e+02 2.070e+02 1.980e+02 2.410e+02 9.000e+01 1.030e+02
 7.000e+01 1.710e+02 9.800e+01 7.300e+01 1.740e+02 5.200e+01 7.200e+01
 8.200e+01 1.200e+02 1.090e+02 2.230e+02 2.920e+02 1.240e+02 1.393e+03
 4.600e+01 4.460e+02 7.600e+01 8.900e+01 1.630e+02 8.800e+01 2.610e+02
 6.200e+01 1.640e+02 5.600e+01 2.050e+02 7.900e+01 1.480e+02 3.790e+02
 1.670e+02 2.840e+02 2.280e+02 9.400e+01 1.530e+02 6.800e+01 5.800e+01
 1.930e+02 2.320e+02 1.840e+02 1.730e+02 1.270e+02 1.420e+02 1.370e+02
 3.850e+02 1.220e+02 2.830e+02 1.160e+02 1.950e+02 3.500e+02 4.010e+02
 4.000e+01 1.050e+02 6.100e+01 1.690e+02 2.150e+02 1.100e+02 2.460e+02
 2.260e+02 5.210e+02 8.000e+01 2.600e+02 3.000e+01 1.920e+02 3.090e+02
 1.820e+02 1.890e+02 1.760e+02 6.500e+01 1.230e+02 2.130e+02 3.060e+02
 7.700e+01 2.710e+02 1.580e+02 1.350e+02 2.770e+02 8.100e+01 1.040e+02
 2.800e+01 2.480e+02 3.320e+02 2.520e+02 3.300e+02 2.100e+02 1.540e+02
 2.330e+02 3.330e+02 3.900e+02 1.430e+02 3.400e+01 3.600e+01 2.620e+02
 2.690e+02 2.430e+02 1.910e+02 3.550e+02 2.880e+02 4.480e+02 2.500e+02
 8.800e+02 2.060e+02 2.540e+02 5.900e+02 4.680e+02 3.220e+02 2.250e+02
 3.750e+02 2.790e+02 6.170e+02 3.900e+01 4.110e+02 2.420e+02 2.960e+02
 1.320e+02 3.040e+02 3.780e+02 7.170e+02 2.970e+02 2.500e+01 1.340e+02
 4.770e+02 1.990e+02 1.750e+02 2.090e+02 3.020e+02 2.040e+02 3.490e+02
 1.570e+02 2.400e+02 3.010e+02 2.510e+02 3.160e+02 2.590e+02 5.450e+02
 3.420e+02 1.970e+02 2.340e+02 2.800e+02 2.450e+02 1.490e+02 1.470e+02
 2.670e+02 2.160e+02 4.060e+02 2.290e+02 2.000e+02 2.110e+02 1.860e+02
 1.960e+02 1.780e+02 2.550e+02 3.260e+02 2.600e+01 5.020e+02 2.720e+02
 2.580e+02 2.350e+02 4.610e+02 2.570e+02 3.290e+02 3.100e+02 2.640e+02
 5.220e+02 5.010e+02 3.540e+02 4.870e+02 3.530e+02 2.100e+01 6.590e+02
 2.560e+02 9.300e+02 2.700e+02 7.960e+02 1.830e+02 2.820e+02 2.780e+02
 2.750e+02 3.170e+02 4.360e+02 8.030e+02 2.370e+02 1.790e+02 2.220e+02
 3.350e+02 4.100e+02 3.800e+01 6.010e+02 1.756e+03 6.150e+02 4.860e+02
 2.020e+02 8.820e+02 2.680e+02 3.430e+02 2.630e+02 2.730e+02 2.940e+02
 5.690e+02 3.030e+02 3.920e+02 5.380e+02 3.740e+02 3.760e+02 2.380e+02
 5.150e+02 3.880e+02 1.810e+02 2.300e+02 3.210e+02 4.140e+02 2.200e+02
 2.240e+02 5.820e+02 2.870e+02 4.740e+02 4.180e+02 1.281e+03 3.620e+02
 7.820e+02 3.810e+02 3.710e+02 2.360e+02 4.270e+02 3.840e+02 9.520e+02
 2.850e+02 3.610e+02 4.530e+02 3.100e+01 2.810e+02 1.940e+02 3.130e+02
 2.650e+02 5.000e+02 7.780e+02 4.160e+02 4.840e+02 4.330e+02 5.070e+02
 5.540e+02 5.250e+02 3.390e+02 3.730e+02 3.510e+02 3.460e+02 3.230e+02
 3.970e+02 5.320e+02 2.860e+02 6.350e+02 3.860e+02 2.390e+02 3.190e+02
 4.670e+02 4.190e+02 3.080e+02 3.240e+02 2.440e+02 4.400e+02 3.690e+02
 3.470e+02 4.560e+02 2.890e+02 3.650e+02 7.130e+02 4.450e+02 5.800e+02
 2.470e+02 3.150e+02 2.900e+02 3.140e+02 2.980e+02 2.930e+02 5.980e+02
 5.040e+02 3.560e+02 4.130e+02 3.500e+01 3.120e+02 3.050e+02 4.420e+02
 3.990e+02 5.790e+02 8.440e+02 2.120e+02 3.410e+02 2.490e+02 5.700e+02
 4.810e+02 3.180e+02 2.530e+02 6.280e+02 2.660e+02 3.640e+02 1.000e+01
 3.480e+02 2.300e+01 9.000e+00 1.025e+03 3.800e+02 4.790e+02 4.150e+02
 4.240e+02 4.520e+02 3.380e+02 6.290e+02 1.295e+03 8.950e+02 2.310e+02
 6.460e+02 3.360e+02 6.030e+02 4.220e+02 5.350e+02 5.420e+02 3.270e+02
 3.830e+02 3.340e+02 6.530e+02 3.280e+02 3.110e+02 3.400e+02 5.840e+02
 3.940e+02 5.120e+02 4.880e+02 8.140e+02 2.740e+02 7.950e+02 3.980e+02
 4.540e+02 2.400e+01 3.600e+02 4.800e+02 2.910e+02 5.300e+02 6.090e+02
 5.090e+02 4.120e+02 1.026e+03 1.894e+03 3.890e+02 3.450e+02 4.170e+02
 5.620e+02 3.820e+02 4.230e+02 6.120e+02 6.450e+02 6.600e+02 3.570e+02
 6.310e+02 2.700e+01 4.080e+02 5.240e+02 3.250e+02 4.640e+02 7.340e+02
 1.416e+03 3.310e+02 3.200e+02 2.000e+01 5.830e+02 2.210e+02 5.230e+02
 5.860e+02 4.050e+02 3.370e+02 3.660e+02 6.060e+02 3.000e+02 1.338e+03
 6.610e+02 1.710e+03 1.006e+03 5.750e+02 9.640e+02 3.870e+02 4.040e+02
 3.630e+02 3.960e+02 1.251e+03 4.350e+02 4.500e+02 7.120e+02 4.210e+02
 9.910e+02 2.200e+01 4.570e+02 2.950e+02 5.310e+02 8.710e+02 3.440e+02
 5.130e+02 4.440e+02 1.219e+03 3.520e+02 4.340e+02 3.720e+02 4.430e+02
 5.330e+02 6.110e+02 4.760e+02 5.140e+02 4.970e+02 3.680e+02 3.930e+02
 5.500e+02 5.360e+02 2.079e+03 4.980e+02 4.300e+02 5.780e+02 3.770e+02
 5.720e+02 4.020e+02 6.940e+02 4.720e+02 1.158e+03 5.950e+02 4.910e+02
 6.400e+02 4.250e+02 7.060e+02 5.050e+02 1.596e+03 9.760e+02 3.580e+02
 7.490e+02 4.490e+02 7.350e+02 4.030e+02 5.170e+02 3.910e+02 3.950e+02
 4.940e+02 8.390e+02 7.140e+02 1.000e+00 7.750e+02 7.920e+02 8.250e+02
 5.440e+02 1.427e+03 5.530e+02 5.650e+02 5.100e+02 8.050e+02 7.680e+02
 4.960e+02 7.810e+02 1.100e+01 5.970e+02 6.160e+02 5.390e+02 6.130e+02
 5.560e+02 1.528e+03 6.850e+02 5.160e+02 1.348e+03 1.836e+03 4.410e+02
 3.590e+02 7.380e+02 6.520e+02 5.520e+02 4.990e+02 1.864e+03 5.080e+02
 6.190e+02 4.700e+02 7.440e+02 5.630e+02 5.280e+02 8.740e+02 4.930e+02
 4.710e+02 6.210e+02 8.410e+02 5.460e+02 1.268e+03 9.990e+02 6.680e+02
 5.770e+02 7.390e+02 5.550e+02 9.820e+02 8.340e+02 3.700e+02 9.220e+02
 5.470e+02 5.290e+02 7.470e+02 5.610e+02 1.669e+03 4.550e+02 9.920e+02
 1.300e+01 4.750e+02 6.430e+03 4.590e+02 6.260e+02 5.890e+02 5.180e+02
 4.890e+02 4.580e+02 4.280e+02 6.480e+02 1.709e+03 4.660e+02 4.510e+02
 4.620e+02 4.290e+02 1.085e+03 6.230e+02 1.032e+03 5.510e+02 9.390e+02
 5.490e+02 7.530e+02 4.000e+02 7.840e+02 5.430e+02 4.090e+02 7.160e+02
 7.080e+02 1.024e+03 6.980e+02 5.410e+02 4.470e+02 4.310e+02 5.940e+02
 5.600e+02 1.700e+01 1.124e+03 6.630e+02 4.850e+02 6.040e+02 1.900e+01
 1.200e+03 4.900e+02 9.100e+02 6.080e+02 4.780e+02 4.370e+02 5.880e+02
 4.200e+02 5.340e+02 6.660e+02 6.840e+02 5.060e+02 1.294e+03 8.960e+02
 8.810e+02 9.280e+02]
hemoglobin: [13.  17.6 12.6 13.3 14.8 16.   8.1 12.9 14.9 13.5 14.6 13.7 14.1 16.3
 16.4 14.2 16.2 15.  16.1 15.5 13.1 13.8 14.  15.9 16.5 13.4 12.7 15.3
 12.1  9.3 14.5 15.1 17.4 14.3 12.3 12.5 16.6 15.7 15.2 13.6 17.  11.3
 13.2 15.6 13.9 12.  14.7 16.7 11.1 14.4 12.8 15.8 12.4 10.7 17.9 16.8
 16.9 15.4 11.2 11.7 11.8 10.4 17.2 17.5 11.5 17.7 11.  11.4 11.6 12.2
 11.9  8.9 17.3 10.  18.   8.7 18.4 17.8 17.1  8.5 10.1 10.8  9.2  7.9
  9.  10.9  9.5 18.1  7.   9.8  9.9  7.1  9.7  7.6 10.5  9.6  8.6  8.3
 10.3  7.8  7.7 19.3  8.2 18.2 10.6  6.9 10.2  8.8  8.   5.5 18.8  6.8
 19.2 18.5  9.4  7.5  8.4  9.1  7.4  5.9  6.2 18.9 18.3  6.7 18.7  6.4
 19.1  7.3 19.7  2.8  6.6 18.6  7.2  6. ]
urine_protein: [1. 3. 4. 2. 5. 6.]
serum_creatinine: [ 0.6  0.9  1.   1.4  1.1  3.1  0.7  0.8  1.3  0.5  0.4  1.2  0.3  2.3
  1.6  2.2  2.   2.9  1.5  2.1 10.   1.9  6.7  1.7  0.1  1.8  0.2  4.9
  4.8  7.3  7.   2.4  3.4  9.   3.8  2.7 18.8  6.8  9.1  2.5  3.7  5.9
  6.   8.4  4.5  3.6  2.6 12.   8.9]
SGOT_AST: [ 14.  28.  18.  15.  25.  40.  27.  41.  20.  99.  29.  21.  32.  23.
  24.  16.  17.  22.  36.  50.  13.  39.  65.  26.  33.  19.  73.  44.
  30.  35.  43.  49.  38.  52.  53.  48.  37.  42.  34. 105.  98.  66.
  46.  45.  31.  92.  95.  10.  61.  54.  60.  12.  63.  72.  11.  51.
  75.  56.  59. 100.  81.   9. 126.  87.  67.  47.  68.  69.  64. 284.
 160. 161.  94.  55.  84.  62.  71. 134.  74.   8. 135. 104. 114.  86.
  79.  76.  83.  70.  58. 218.  78.  97.  77.   4. 109.   6. 155.  80.
  90. 106. 173. 124.   5.  85.  57. 125.  89. 145. 108. 179.  93.  88.
 113. 268. 140. 477. 349. 325. 187. 120. 209. 281. 152. 130. 102. 455.
 278.  91. 182. 257. 223. 183. 469.  82. 123. 335. 110. 261. 167. 137.
 121. 139. 103. 127. 146. 554. 136. 541. 426. 190. 112. 129. 221. 117.
 131. 409. 116. 165. 101. 162. 143.  96. 158. 151. 944. 115. 111. 201.
 163. 212. 340. 164. 142. 149. 168. 247. 118. 430. 174. 185. 235. 170.
 132. 153. 172.]
SGOT_ALT: [  11.   66.    8.   10.   43.   54.   35.   55.   21.  105.   22.   18.
   20.   16.   19.   46.   15.   25.   37.   64.   57.   96.   27.   14.
   12.   42.   26.    6.   97.   28.   30.   78.   41.    7.   33.   23.
   50.    9.   17.   32.   70.   36.   40.   63.   47.   80.   29.   13.
   24.   58.   51.   44.   45.   59.   31.  149.  253.   39.   53.   34.
   77.   74.   82.   98.   38.   62.   49.   84.  116.   56.   52.    4.
   89.  118.   93.  131.  119.  111.   48.   67.   61.   68.  101.  120.
   75.   90.   76.   88.  218.  107.  226.  311.   72.  220.   73.   60.
  196.  115.    5.  144.  161.   87.   71.  124.  147.   91.   69.   81.
   99.   94.  113.   79.  168.  160.   83.  126.  388.  128.  103.  123.
  127.   65.   92.  244.  135.  258.  157.  141.  134.  102.  150.  169.
   86.   85.  104.  114.    2.  172.  889.  546.  331.  189.  100.  146.
  287.  108.  186.  151.  162.  274.  295.  110.  125.  184.  166.  211.
    3.  171.  541.  206.  473.  112.  178.  207.  249.  392.  194. 1052.
  109.  159.  145.  182.  167.  298.  137.  129. 1200.  143.  142.  181.
  122.  121.  117.  133.   95.  365.  153.  590.  155.  138.  106.  132.
  177.  267.  130.  156.  183.  205.  140.  158.  437.  210.  197.  136.
  240.  152.  173.  261.  139.  185.  175.]

<h3 style="font-family: 'Times New Roman'">Initial Enconding</h3>

In [13]:
# Map the values in the "sex" column to numeric values using a dictionary.
# Replace 'Male' with 1 and 'Female' with 0.
df["sex"] = df["sex"].map({'Male': 1, 'Female': 0})

In [14]:
# Map the values in the "drinker_or_not" column to numeric values using a dictionary.
# Replace 'Y' with 1 and 'N' with 0.
df["drinker_or_not"] = df["drinker_or_not"].map({'Y': 1, 'N': 0})

In [15]:
# Define a dictionary to specify the replacement values. Replace 3 with 2.
smoking_replace = {3: 2}

# Use the replace() method to replace values in the "smoking_state" column.
df["smoking_state"] = df["smoking_state"].replace(smoking_replace)

# Convert the "smoking_state" column to integers
df["smoking_state"] = df["smoking_state"].astype(int)

<h3 style="font-family: 'Times New Roman'">Data Quality Check</h3>

In [16]:
# Check for missing values in the DataFrame and count them
missing_values = df.isnull().sum()
print("Missing Values:")
print(missing_values)

Missing Values:
sex                              0
age                              0
height                           0
weight                           0
waistline                        0
sight_left                       0
sight_right                      0
hear_left                        0
hear_right                       0
systolic_blood_pressure          0
diastolic_blood_pressure         0
BLDS                             0
total_cholesterol                0
HDL_cholesterol                  0
LDL_cholesterol                  0
triglyceride                     0
hemoglobin                       0
urine_protein                    0
serum_creatinine                 0
SGOT_AST                         0
SGOT_ALT                         0
gamma-glutamyl_transpeptidase    0
smoking_state                    0
drinker_or_not                   0
dtype: int64

In [17]:
# Check for duplicate rows in the DataFrame and count them
duplicates = df.duplicated().sum()
print("Duplicate Rows:")
print(duplicates)

Duplicate Rows:
0

<h3 style="font-family: 'Times New Roman'">Save Dataset</h3>

In [18]:
# Create a copy of the DataFrame 'df' and assign it to the variable 'smoking'.
smoking = df.copy()

# Save the 'smoking' DataFrame to a CSV file named 'Smoking.csv' in the 'Files/Data_Analysis' directory.
smoking.to_csv('Files/Data_Analysis/Smoking.csv', index=False)

# Create a copy of the DataFrame 'df' and assign it to the variable 'drinking'.
drinking = df.copy()

# Save the 'drinking' DataFrame to a CSV file named 'Drinking.csv' in the 'Files/Data_Analysis' directory.
drinking.to_csv('Files/Data_Analysis/Drinking.csv', index=False)

In [19]:
# Save the DataFrame to a CSV file named 'Smoking_Drinking_Dataset.csv'in the 'Files/Data_Analysis' directory.
df.to_csv('Files/Data_Analysis/Smoking_Drinking_Dataset.csv', index=False)